<div
  data-v-a9660e98=""
  class="van-popup van-popup--center van-popup-vf"
  style="
    width: 80%;
    border-radius: 10px;
    max-width: 340px;
    z-index: 2006;
    display: none;
  "
>
  <div data-v-a9660e98="" class="rule-box">
    <div data-v-a9660e98="" class="title c-row c-row-middle-center">Rule</div>
    <div data-v-a9660e98="" class="info">
      <div data-v-a9660e98="" class="comment">
        <div data-v-a9660e98="">
          <div data-v-a9660e98="">
            <p class="MsoNormal">
              <b
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >30 Sec 1 issue, </span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >45</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >&nbsp;seconds to order, </span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >15</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >&nbsp;Seconds waiting for the</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                ></span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                >
                  Draw. It opens all day. The total number of trade per day is
                  1440 issues.</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  ><o:p></o:p></span
              ></b>
            </p>
            <p class="MsoNormal">
              <span
                style="
                  mso-spacerun: 'yes';
                  font-family: 'Times New Roman';
                  mso-fareast-font-family: 宋体;
                  font-size: 12pt;
                  mso-font-kerning: 1pt;
                "
                ><o:p><b>&nbsp;</b></o:p></span
              >
            </p>
            <p class="MsoNormal">
              <b
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                ></span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >If you spend 100 to trade, In Case You Loose You Loose all,
                  Your &nbsp;</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >Contact amount is 100</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >&nbsp;</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 宋体;
                    mso-ascii-font-family: 'Times New Roman';
                    mso-hansi-font-family: 'Times New Roman';
                    mso-bidi-font-family: 'Times New Roman';
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  ><span style="font-family: 'Times New Roman'">.</span
                  ><font face="宋体"
                    ><span style="font-family: 'Times New Roman'"></span></font
                  ><font face="Times New Roman"
                    ><span
                      style="font-family: 'Times New Roman'"
                    ></span></font></span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >&nbsp;</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                ></span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >&nbsp;</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 宋体;
                    mso-ascii-font-family: 'Times New Roman';
                    mso-hansi-font-family: 'Times New Roman';
                    mso-bidi-font-family: 'Times New Roman';
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >.</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  ><o:p></o:p></span
              ></b>
            </p>
            <p class="MsoNormal">
              <span
                style="
                  mso-spacerun: 'yes';
                  font-family: 'Times New Roman';
                  mso-fareast-font-family: 宋体;
                  font-size: 12pt;
                  mso-font-kerning: 1pt;
                "
                ><o:p><b>&nbsp;</b></o:p></span
              >
            </p>
            <p class="MsoNormal">
              <!--[if !supportLists]--><b
                ><span
                  style="
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >1.&nbsp;</span
                ><!--[endif]--><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >C</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >hoose green: if the results show </span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >number "</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  ><font
                    color="#000000"
                    style="background-color: rgb(255, 255, 255)"
                    >1,3,7,9"</font
                  >
                  you will get (100 * 2)= 200.</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  ><o:p></o:p></span
              ></b>
            </p>
            <p class="MsoNormal">
              <span
                style="
                  mso-spacerun: 'yes';
                  font-family: 'Times New Roman';
                  mso-fareast-font-family: 宋体;
                  font-size: 12pt;
                  mso-font-kerning: 1pt;
                "
                ><o:p><b></b></o:p
              ></span>
            </p>
            <p class="MsoNormal">
              <b
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                ></span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >If the results are displayed </span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >number "</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >5", you will get (100 * 1.9)= 190</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  ><o:p></o:p></span
              ></b>
            </p>
            <p class="MsoNormal">
              <span
                style="
                  mso-spacerun: 'yes';
                  font-family: 'Times New Roman';
                  mso-fareast-font-family: 宋体;
                  font-size: 12pt;
                  mso-font-kerning: 1pt;
                "
                ><o:p><b>&nbsp;</b></o:p></span
              >
            </p>
            <p class="MsoNormal">
              <b
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >2. </span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >Select red: if the results show</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >Number "</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >2,4,6,8" you will get (100 * 1.9)= 190; if the result shows as
                  "0" you will get (100 * 1.9)= 190.</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  ><o:p></o:p></span
              ></b>
            </p>
            <p class="MsoNormal">
              <span
                style="
                  mso-spacerun: 'yes';
                  font-family: 'Times New Roman';
                  mso-fareast-font-family: 宋体;
                  font-size: 12pt;
                  mso-font-kerning: 1pt;
                "
                ><o:p><b>&nbsp;</b></o:p></span
              >
            </p>
            <p class="MsoNormal">
              <b
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >3. </span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >choose yellow: if results show </span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >Number "</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >0" or "5", you will get (100 * 4.5)= 450.</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  ><o:p></o:p></span
              ></b>
            </p>
            <p class="MsoNormal">
              <span
                style="
                  mso-spacerun: 'yes';
                  font-family: 'Times New Roman';
                  mso-fareast-font-family: 宋体;
                  font-size: 12pt;
                  mso-font-kerning: 1pt;
                "
                ><o:p><b>&nbsp;</b></o:p></span
              >
            </p>
            <p class="MsoNormal">
              <b
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >4. </span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >select number: if the result that opens is the same as the
                  one you selected, you will get (100 * 9)= 900.</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  ><o:p></o:p></span
              ></b>
            </p>
            <p class="MsoNormal">
              <span
                style="
                  mso-spacerun: 'yes';
                  font-family: 'Times New Roman';
                  mso-fareast-font-family: 宋体;
                  font-size: 12pt;
                  mso-font-kerning: 1pt;
                "
                ><o:p><b>&nbsp;</b></o:p></span
              >
            </p>
            <p class="MsoNormal">
              <b
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >5. </span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >select large: if results show </span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >Number "</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >5,6,7,8,9" you will get (100* 1.9)= 190.</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  ><o:p></o:p></span
              ></b>
            </p>
            <p class="MsoNormal">
              <span
                style="
                  mso-spacerun: 'yes';
                  font-family: 'Times New Roman';
                  mso-fareast-font-family: 宋体;
                  font-size: 12pt;
                  mso-font-kerning: 1pt;
                "
                ><o:p><b>&nbsp;</b></o:p></span
              >
            </p>
            <p class="MsoNormal">
              <!--[if !supportLists]--><b
                ><span
                  style="
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >6.&nbsp;</span
                ><!--[endif]--><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                ></span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >big/small: Result Display</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >&nbsp;Number</span
                ><span
                  style="
                    mso-spacerun: 'yes';
                    font-family: 'Times New Roman';
                    mso-fareast-font-family: 宋体;
                    font-size: 12pt;
                    mso-font-kerning: 1pt;
                  "
                  >&nbsp;"0,1,2,3,4" you will get (100 * 1.9)= 190.</span
                ></b
              ><span
                style="
                  mso-spacerun: 'yes';
                  font-family: 'Times New Roman';
                  mso-fareast-font-family: 宋体;
                  font-size: 12pt;
                  mso-font-kerning: 1pt;
                "
                ><o:p></o:p
              ></span>
            </p>
          </div>
        </div>
        <div data-v-a9660e98=""><!----></div>
        <div data-v-a9660e98=""><!----></div>
        <div data-v-a9660e98=""><!----></div>
      </div>
      <div data-v-a9660e98="" class="rule-btn c-row m-t-20 c-row-center">
        <button
          data-v-a9660e98=""
          class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
          style="
            color: rgb(255, 255, 255);
            background: rgb(242, 65, 59);
            border-color: rgb(242, 65, 59);
          "
        >
          <div data-v-a9660e98="" class="van-button__content">
            <span data-v-a9660e98="" class="van-button__text"
              ><span data-v-a9660e98="">I know</span></span
            >
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
